<h3 style="text-align:center;">
  <b style="color: black">Contact Us</b>
</h3>
<div class="container">
  <div id="caption">
    <div class="row">
      <div class="col-sm">
        <ul class="nav navbar-nav list-group list-group-vertical">
          <li><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><b>  Brighton Street 5, M34-3L4, Ottawa</b></li>
          <li><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i><b>  Monday to Friday (9:00 PM - 3:00 AM) </b></li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="nav navbar-nav list-group list-group-vertical">
          <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i><b>  +1 415 868 9493</b></li>
          <li><i class="fa fa-envelope-open fa-2x" aria-hidden="true"></i><b>  info@goodlifeclub.com</b></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>

  <form #f="ngForm" (ngSubmit)="f.form.valid && f.form.dirty ? onSubmit() : ''" validate>
  <div id="caption">
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" #firstName="ngModel"  name="firstName" [(ngModel)]="contactMe.firstName"
              placeholder="First Name" required>
              <div [hidden]="firstName.valid || firstName.pristine"
              class="alert alert-danger">
               <div [hidden]="!firstName.hasError('required')">First Name is required</div>
           </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" #lastName="ngModel"  name="lastName" [(ngModel)]="contactMe.lastName"  placeholder="Last Name"
              required>
              <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                   <div [hidden]="!lastName.hasError('required')">Last Name is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control"  #phoneNumber="ngModel" name="phoneNumber"  [(ngModel)]="contactMe.phoneNumber"
              placeholder="Phone Number"  pattern="[0-9]*"
              minlength="9"
              maxlength="14"
              required
              >
              <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
                 class="alert alert-danger">
                 <div [hidden]="!phoneNumber.hasError('minlength')">Phone Number should be 9 digit min</div>
                 <div [hidden]="!phoneNumber.hasError('required')">Phone Number is required</div>
                 <div [hidden]="!phoneNumber.hasError('pattern')">phone Number should be only numbers</div>
              </div>

          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input class="form-control"  name=email #email="ngModel"  placeholder="Email" [(ngModel)]="contactMe.email" required>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">E-mail is required</div>
           </div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control"  #comments="ngModel" name="comments"  [(ngModel)]="contactMe.comments"  placeholder="Message here"
              required></textarea>
              <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                  <div [hidden]="!comments.hasError('required')">Message is required field</div>
             </div>
           </div>
          
           <hr>
           <input type="submit"
           [disabled]="!f.form.valid" class="btn btn-success">
         
    </div>
   
  </form>
</div>


