<nb-layout>

  <nb-layout-header fixed class="hdr">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../assets/img/Untitledmin.png" width="30" height="30"></a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto" *ngIf="(user | async)?.uid">
      <li class="nav-item"><a class="nav-link" routerLink="/upload"><b>Create Event</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/request-list"><b>Customer Requests</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ejuboxplayer"><b>Digital Jukebox</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/video-gallery"><b>Video Gallery</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/upload-song"><b>Song Upload</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/validationcode"><b>Validation Codes</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/update-list-sequence"><b>Song List Sequencing</b></a></li>
    </ul>
    <ul class="nav navbar-nav account">
      <li class="nav-item"><a class="nav-link" routerLink="/aboutme"><b>About Us</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contactme"><b>Contact Us</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/songrequest"><b>Create Song Request</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/song-requests"><b>Song Requests</b></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/gallery"><b>Event Gallery</b></a></li>
      <li class="nav-item" *ngIf="!(user | async)?.uid"><a class="nav-link" routerLink="/login"><b>Log In</b></a></li>
      <li class="nav-item" *ngIf="(user | async)?.uid"><a class="nav-link" href="#" (click)="logOut()"><b>Log Out</b></a></li>
    </ul>
    <ul class="nav navbar-nav list-group list-group-horizontal">
      <li><a class="nav-link" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a class="nav-link" href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a class="nav-link" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a class="nav-link" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
  </nb-layout-header>

  <nb-layout-column>

    <div class="container">

      <router-outlet></router-outlet>
      <app-toasts></app-toasts>
      <br>
    </div>



  </nb-layout-column>

  <nb-layout-footer fixed>
        <marquee class="Marqee1" id="Marqee1" behavior="scroll" direction="left"><h4>{{message}}&nbsp;&nbsp;&nbsp; &nbsp;{{EventNameandDate}} {{eventDT | date:'short'}} </h4></marquee>
  </nb-layout-footer>

</nb-layout>
