

<div><label style="color: black; font-weight: bold">Genre:</label></div>
<div>
  <select class='dropdowngall' [(ngModel)]="selectedCategory.id" (change)="onSelect($event.target.value)">
    <option value="Select">Select</option>
    <option *ngFor="let genrecategory of genrecat" value={{genrecategory.id}}>{{genrecategory.name}}</option>
  </select><b style="color: red">*</b>
</div>

<div>
  <ngx-audio-player [playlist]="msaapPlaylist"
                    [displayTitle]="msaapDisplayTitle"
                    [autoPlay]="false"
                    muted="muted"
                    [displayPlaylist]="msaapDisplayPlayList"
                    [pageSizeOptions]="msaapPageSizeOptions"
                    [displayArtist]="msaapDisplayArtist"
                    [displayDuration]="msaapDisplayDuration"
                    [expanded]="true"
                    [displayVolumeControls]="msaapDisplayVolumeControls"
                    [displayRepeatControls]="msaapDisplayRepeatControls"
                    [disablePositionSlider]="msaapDisablePositionSlider">
  </ngx-audio-player>
</div>
