


<div>
  &nbsp;
  <button class="btn-success" (click)="LoadPlayList()">Load Playlist</button>
  <button class="btn-success" (click)="Test()">Test</button>
</div>


<div>
  <ngx-audio-player
   [playlist]="msaapPlaylist"
                    [displayTitle]="msaapDisplayTitle"
                    [autoPlay]="false"
                    muted="muted"
                    [displayPlaylist]="msaapDisplayPlayList"
                    [pageSizeOptions]="msaapPageSizeOptions"
                    [displayArtist]="msaapDisplayArtist"
                    [displayDuration]="msaapDisplayDuration"
                    [expanded]="true"
                    [displayVolumeControls]="msaapDisplayVolumeControls"
                    [displayRepeatControls]="msaapDisplayRepeatControls"
                    [disablePositionSlider]="msaapDisablePositionSlider"
                    (trackEnded)="onEnded($event)"
                   >
  </ngx-audio-player>
</div>
